---
- name: Clean Up Radius Config
  hosts: all
  gather_facts: no
  connection: network_cli
  vars_files:
    - ./vars/aaa-servers.yml

  vars:    
    ansible_become_password: "{{ enable | default(ansible_password) }}"
    ansible_become: true
    ansible_become_method: enable
    ignore_method_lists:
      - default
      - console
      - "1"
      - "5"
      - "15"
      - newinfo


  pre_tasks:

    - name: Prompt for username
      pause:
        prompt: "Enter username"
        echo: yes
      register: user_input
      when: ansible_user is not defined
      delegate_to: localhost
      run_once: true

    - name: Prompt for password
      pause:
        prompt: "Enter password"
        echo: no
      register: pass_input
      when: ansible_password is not defined
      delegate_to: localhost
      run_once: true
    

    - name: Set username from prompt
      set_fact:
        ansible_user: "{{ user_input.user_input }}"
      when: user_input is defined and user_input.user_input is defined

    - name: Set password from prompt
      set_fact:
        ansible_password: "{{ pass_input.user_input }}"
      when: pass_input is defined and pass_input.user_input is defined


  tasks:
    - name: Get running config
      ios_command:
        commands:
          - show running-config
      register: run_cfg

    - name: Normalize running-config
      set_fact:
        run_text: "{{ run_cfg.stdout[0] | replace('\r','') }}"
        run_lines: "{{ (run_cfg.stdout[0] | replace('\r','')).splitlines() }}"

    - debug:
        msg:
          run_len: "{{ run_text | length }}"
          radius_server_lines: "{{ (run_lines | select('match','^\\s*radius\\s+server\\s+') | list)[:20] }}"


   # ------------------------------------------------------------
# STEP 1: Remove RADIUS servers (by IP) that are configured but not in aaa-servers.yml
#         Unlink from groups first, then delete server objects
# ------------------------------------------------------------

    - name: Build allowed radius IP list from aaa-servers.yml
      set_fact:
        allowed_radius_ips: >-
          {{
            (radius_servers | default([]))
            | map(attribute='ip')
            | select('defined')
            | map('string')
            | unique
            | list
          }}

    - name: List configured radius server object names
      set_fact:
        radius_server_names_configured: >-
          {{
            (run_text | regex_findall('(?m)^\\s*radius\\s+server\\s+(\\S+)\\b'))
            | unique
            | list
          }}

    - name: Initialize working lists
      set_fact:
        configured_radius_map: []
        radius_unlink_lines: []
        radius_groups_configured: []
        radius_server_names_configured: []


    - name: Build map of configured radius servers (name -> ip)
      set_fact:
        configured_radius_map: "{{ configured_radius_map | default([]) + [ { 'name': item, 'ip': ip_found } ] }}"
      loop: "{{ radius_server_names_configured }}"
      vars:
        esc_name: "{{ item | regex_replace('([\\\\.^$|()\\[\\]{}*+?\\\\-])', '\\\\\\1') }}"
        body: >-
          {{
            (run_text
              | regex_findall('(?ms)^\\s*radius\\s+server\\s+' ~ esc_name ~ '\\b\\s*\\n(.*?)(?=^\\S|\\Z)')
              | first
              | default('')
            )
          }}
        ip_found: >-
          {{
            (body
              | regex_findall('(?m)^\\s*address\\s+ipv4\\s+(\\d{1,3}(?:\\.\\d{1,3}){3})\\b')
              | first
              | default('')
            )
          }}

    - name: Drop radius server objects where IP could not be parsed
      set_fact:
        configured_radius_map: "{{ (configured_radius_map | default([])) | rejectattr('ip', 'equalto', '') | list }}"


    - name: Compute radius servers to remove (IP not in aaa-servers.yml)
      set_fact:
        radius_servers_to_remove: >-
          {{
            configured_radius_map
            | rejectattr('ip', 'in', allowed_radius_ips)
            | list
          }}
        radius_names_to_remove: "{{ radius_servers_to_remove | map(attribute='name') | unique | list }}"
        radius_ips_to_remove: "{{ radius_servers_to_remove | map(attribute='ip') | unique | list }}"

    # ---- Find RADIUS groups and which ones contain any of the bad servers
    - name: Find configured RADIUS group names
      set_fact:
        radius_groups_configured: >-
          {{
            (run_text | regex_findall('(?m)^\\s*aaa\\s+group\\s+server\\s+radius\\s+(\\S+)\\b'))
            | unique
            | list
          }}

    - name: Build unlink lines (remove server names from groups)
      set_fact:
        radius_unlink_lines: "{{ radius_unlink_lines | default([]) + unlink_cmds }}"
      loop: "{{ radius_groups_configured }}"
      vars:
        group_name: "{{ item }}"
        esc_group: "{{ group_name | regex_replace('([\\\\.^$|()\\[\\]{}*+?\\\\-])', '\\\\\\1') }}"
        group_body: >-
          {{
            (run_text
              | regex_findall('(?ms)^\\s*aaa\\s+group\\s+server\\s+radius\\s+' ~ esc_group ~ '\\b\\s*\\n(.*?)(?=^\\S|\\Z)')
              | first
              | default('')
            )
          }}
        servers_in_group: "{{ group_body | regex_findall('(?m)^\\s*server\\s+name\\s+(\\S+)\\b') | unique | list }}"
        bad_servers_in_group: "{{ servers_in_group | intersect(radius_names_to_remove | default([])) }}"
        unlink_cmds: >-
          {{
            (
              ['aaa group server radius ' ~ group_name]
              +
              (bad_servers_in_group | map('regex_replace', '^(.*)$', 'no server name \\1') | list)
            )
            if (bad_servers_in_group | length > 0)
            else
            []
          }}

    - name: Show RADIUS unlink/delete plan
      debug:
        msg:
          allowed_radius_ips: "{{ allowed_radius_ips }}"
          configured_radius_map: "{{ configured_radius_map }}"
          radius_ips_to_remove: "{{ radius_ips_to_remove }}"
          radius_names_to_remove: "{{ radius_names_to_remove }}"
          radius_unlink_lines: "{{ radius_unlink_lines | default([]) }}"

    - name: Pause before changes
      pause:
        prompt: "About to remove radius servers. Press Enter to continue or Ctrl+C to abort."


    # SAFETY: only proceed if vars loaded and we have something to remove
    - name: Unlink bad RADIUS servers from groups (parent mode)
      ios_config:
        parents: []
        lines: "{{ radius_unlink_lines }}"
      when:
        - allowed_radius_ips | length > 0
        - (radius_unlink_lines | default([])) | length > 0

    - name: Delete bad radius server objects (by NAME; selected by IP)
      ios_config:
        lines: "{{ radius_names_to_remove | map('regex_replace', '^(.*)$', 'no radius server \\1') | list }}"
      when:
        - allowed_radius_ips | length > 0
        - radius_names_to_remove | length > 0
