---
- name: IOSXE Upgrade Playbook
  hosts: localhost
  gather_facts: false

  vars_prompt:
    - name: target_hosts
      prompt: |
        Available groups:
        {% for g in groups.keys() | sort %}
        - {{ g }}
        {% endfor %}
        
        Enter host(s) or group(s) separated by commas (e.g., router,switch1,switch4)
      private: no
    
  tasks:
    - name: Store answers as facts for next play
      set_fact:
        target_hosts: "{{ target_hosts }}"
      run_once: true
      no_log: true


- name: IShow group names (keys) from inventory
  hosts: "{{ hostvars['localhost']['target_hosts'].split(',') }}"
  vars_files: 
    - ./images.yml
  gather_facts: false
  connection: network_cli

  vars:
    required_suffixes:
      - "_target_image"
      - "_md5_hash"
      - "_image_size_bytes"
      - "_image_code"

  tasks:
    - name: Download correct images and fill in values within images.yml for these platforms
      debug:
        msg: "{{ groups.keys() | difference(skip_groups) | list }}"

    - name: Check that all of these platform series have correct values, if you see MISSING, verify images.yml
      vars:
        all_groups: "{{ groups.keys() | difference(skip_groups) | list }}"
      debug:
        msg: |
          Group: {{ item }}
          {% set expected_vars = required_suffixes | map('regex_replace', '^(.*)$', item ~ '\\1') | list %}
          {% for key in expected_vars %}
          - {{ key }}: {{ vars.get(key, 'MISSING') }}
          {% endfor %}
      loop: "{{ all_groups }}"
      loop_control:
        label: "{{ item }}"