---
- name: Update HTTP Source int
  hosts: localhost
  gather_facts: false

  vars_prompt:
    - name: target_hosts
      prompt: |
        Available groups:
        {% for g in groups.keys() | sort %}
        - {{ g }}
        {% endfor %}
        
        Enter host(s) or group(s) separated by commas (e.g., router,switch1,switch4)
      private: no
    
  tasks:
    - name: Store answers as facts for next play
      set_fact:
        target_hosts: "{{ target_hosts }}"
      run_once: true
      no_log: true
- name: IOSXE Upgrade Playbook
  hosts: "{{ hostvars['localhost']['target_hosts'].split(',') }}"
  vars_files: 
    - ./images.yml
  gather_facts: false
  connection: network_cli

  vars_prompt:
    - name: interface_name
      prompt: "Enter interface name i.e Gigabit, Gigabitethernet, vlan, gi, etc" 
      private: no
    - name: vlan
      prompt: "Enter interface number or vlan number i.e 1/0/1 or 100" 
      private: no
    - name: ansible_user
      prompt: "Enter username"
      private: no
    - name: ansible_password
      prompt: "Enter password" 
      private: yes

  tasks:
    - name: Gather facts for Devices
      ios_facts:

    - name: Set HTTP Source
      when: platform_series == 'c9000'
      ios_config:
        lines:
          - ip http client source-interface {{ interface_name }} {{ vlan }}
        save_when: always