---
- name: Inventory Selection
  hosts: localhost
  gather_facts: false

  vars_prompt:
    - name: target_hosts
      prompt: |
        Available groups:
        {% for g in groups.keys() | sort %}
        - {{ g }}
        {% endfor %}
        
        Enter host(s) or group(s) separated by commas (e.g., router,switch1,switch4)
      private: no

  tasks:
    - name: Store target hosts for next play
      set_fact:
        target_hosts: "{{ target_hosts }}"
      run_once: true
      no_log: true


- name: Update HTTP Source Interface on Devices
  hosts: "{{ hostvars['localhost']['target_hosts'].split(',') }}"
  gather_facts: false
  connection: network_cli

  vars_prompt:
    - name: ansible_user
      prompt: "Enter username"
      private: no
    - name: ansible_password
      prompt: "Enter password"
      private: yes

  tasks:

    # - name: Show 'show ip interface brief' filtered for the target IP
    #   ios_command:
    #     commands:
    #       - "show ip interface brief | include {{ ansible_host }}"
    #   register: ip_brief
    #   ignore_errors: yes


    - name: Run on IOS
      ios_command:
        commands:
          - "show ip interface brief | include {{ ansible_host }}"
      register: ip_brief
      when: ansible_network_os == "ios"
      ignore_errors: yes

    # - name: Run on IOS XR
    #   iosxr_command:
    #     commands:
    #       - "show ipv4 interface brief | include {{ ansible_host }}"
    #   register: ip_brief
    #   when: ansible_network_os == "iosxr"
    #   ignore_errors: yes

    # - name: Run on NX-OS
    #   nxos_command:
    #     commands:
    #       - "show ip interface brief | include {{ ansible_host }}"
    #   register: ip_brief
    #   when: ansible_network_os == "nxos"
    #   ignore_errors: yes

    - name: Extract interface name
      set_fact:
        ssh_interface: "{{ (ip_brief.stdout[0] | regex_search('^(\\S+)')) or '' }}"
      when: ip_brief.stdout is defined and ip_brief.stdout[0] | trim != ''


    - name: Verify interface was found
      fail:
        msg: "Could not determine SSH interface for {{ ansible_host }}"
      when: ssh_interface is not defined or ssh_interface == ''

    - name: Set HTTP Source
      ios_config:
        lines: "ip http client source-interface {{ ssh_interface }}"
        replace: line
        save_when: changed
      when: ssh_interface is defined and ssh_interface != ''