---
- name: Gather comprehensive IOS/IOS-XE facts
  ios_facts:
    gather_subset:
      - all
  register: ios_device_facts

- name: Set IOS device facts
  set_fact:
    hostname: "{{ ansible_net_hostname }}"
    model: "{{ ansible_net_model }}"
    ios_type: "{{ ansible_net_iostype }}"
    serial: "{{ ansible_net_serialnum }}"
    stack_serials: "{{ ansible_net_stacked_serialnums | default([]) }}"
    current_ver: "{{ ansible_net_version }}"
    device_mode: "{{ 'install' if ansible_net_image is search('packages.conf') else 'bundle' }}"
    flash_dir: "{{ ansible_net_image | split(':') | first | lower }}:"
    neighbors: "{{ ansible_net_neighbors }}"
    interfaces: "{{ ansible_net_interfaces }}"
    device_type: "ios"